/* GLOBAL CSS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Redressed&display=swap");

/* CSS RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

/* GLOBAL CSS VARIABLES */
:root {
  --primary-color: rgb(55, 52, 253);
  --grey-color: #eeeeee;
  --primary-font: "Poppins", sans-serif;
  --cursive-font: "Redressed", cursive;
  --bs-table-accent-bg: #000;
}

/* TAG RESET */
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  background: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
input {
  outline: none;
}

/* CSS UTITLITY CLASSES */
.rows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bd {
  border: 1px solid red;
}
/* 
body {
  padding: 100px 200px;
  background: #f9fafc;
} */

.header {
  width: 100%;
  height: 50px;
  justify-content: flex-start;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 25px;
}

.header button {
  background: none;
  color: rgb(128, 128, 128);
  margin-right: 20px;
  margin-bottom: 15px;
  font-size: 1.1rem;
  font-weight: 600;
  padding-bottom: 2px;
  border-radius: 0;
}
.header .btn-active {
  border-bottom: 2px solid var(--primary-color);
  color: #000;
}

.add-assesment-form {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}
.form-title {
  width: 100%;
}
.form-title h1 {
  text-align: center;
  font-weight: 900;
  font-size: 2.4rem;
  margin-bottom: 25px;
}
.input-box {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15px;
}
.input-box label {
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: 600;
}
.add-std-btn {
  margin-top: 10px;
  margin-bottom: 15px;
}
.delete-std-btn {
  display: none;
}
.std-table {
  margin-bottom: px;
  display: none;
}
.asse-form-submit {
  width: 100%;
}
.asse-form-submit button {
  margin: 15px;
}

.cards {
  width: 100%;
  height: 100%;
  display: none;
}
.cards a {
  width: 100%;
  height: 100%;
}
.card {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  border: none;
  padding: 15px 25px;
  cursor: pointer;
}
.card:hover {
  transition: all 0.3s;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
  transform: translateY(-5px);
}
.card-details {
  width: 90%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}
.card-details h2 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #000;
  margin: 0;
}
.card-details p {
  margin: 0;
}
.card-delete {
  width: 10%;
  height: 100%;
  font-size: 1.5rem;
}
.card-delete {
  color: red;
  justify-content: flex-end;
}
.table-btns {
  width: 100%;
  height: 100%;
}
.table-btns i {
  font-size: 1.2rem;
  padding: 3px 6px;
  cursor: pointer;
}
.table-btns i:nth-of-type(1) {
  color: rgb(107, 248, 64);
}
.table-btns i:nth-of-type(2) {
  color: red;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: rgba(158, 157, 157, 0.05);
}
.table-striped tbody tr td {
  padding: 15px;
}

.faculty-sec {
  width: 100%;
  height: 100%;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.back-btn {
  /* width: 100%; */
  background-color: transparent !important;
  color:#000;
  justify-content: flex-start;
  margin-bottom: 15px;
}
.back-btn:hover {
  background-color: #eeeeee !important;
}

.back-btn i {
  margin-right: 10px;
}
